.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.languageOptions,
.roundOptions,
.playersCountOptions,
.playerNameOptions {
  display: flex;
  justify-content: space-between;
}
.languageSelect,
.playersCountInput,
.roundSelect {
  width: 30%;
}
.languageSelect:focus,
.roundSelect:focus {
  border-color: aqua;
}
.playerNameInput {
  width: 50%;
}
.playersContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.submitButton {
  width: 50%;
  margin: 0 auto;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
.submitButton:hover,
.submitButton:focus {
  background-color: white;
  color: black;
  border: 1px solid black;
}
