.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.languageOptions,
.roundOptions,
.playersCountOptions,
.playerNameOptions,
.gameModeOptions {
  display: flex;
  justify-content: space-between;
}
.languageSelect,
.playersCountInput,
.roundSelect,
.gameModeSelect {
  width: 35%;
}
.languageSelect:focus,
.roundSelect:focus,
.gameModeSelect:focus,
.playerNameInput:focus,
.playersCountInput:focus {
  outline: 1;
  outline-color: #000000;
  outline-style: auto;
}
.playerNameInput {
  width: 50%;
}
.playersContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.description {
  display: inline-flex;
  align-items: center;
}
.submitButton {
  width: 50%;
  margin: 0 auto;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
.submitButton:hover,
.submitButton:focus {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.form-textbox,
.form-dropdown,
.form-textarea {
  outline: none;
}

.form-line-active input:focus,
.form-line-active textarea:focus,
.form-line-active select:focus {
  border: 1px solid #cecece !important;
}
